extends ../layout
block link
  link(href="/css/index.css",rel="stylesheet")
  script(src="/js/index.js")
block content
  .wrapper
    a(href="javascript:;")
      img(src="/images/fullpage/2.jpg" alt="fullpageImg")
    
